In [10]:
from math import fsum
print(sum([0.1]*10))

print(fsum([0.1]*10))

0.9999999999999999
1.0

In [11]:
print(38/5)
print(38//5)

7.6
7

In [13]:
from collections import defaultdict
d = {'raymond': 'red'}
e = defaultdict(lambda: 'black')

In [14]:
print(d)
print(e)

{'raymond': 'red'}
defaultdict(<function <lambda> at 0x109bf62f0>, {})

In [16]:
print(d['raymond'], e['raymond'])
print(d['amit'])

red black

KeyError: 'amit'

In [17]:
e['amit']

'black'

In [19]:
e

defaultdict(<function __main__.<lambda>>,
            {'amit': 'black', 'raymond': 'black'})

In [21]:
print(set(), ' ', list(), ' ', dict())

set()   []   {}

In [22]:
d = defaultdict(set)
d['t'].add('tom')
d['m'].add('mary')
d['t'].add('tim')
d['t'].add('tom')
d['m'].add('martin')
d

defaultdict(set, {'m': {'martin', 'mary'}, 't': {'tim', 'tom'}})

### Defaultdict creates a new container to store elements with a common feature

In [28]:
from pprint import pprint
pprint(d, width = 50)

defaultdict(<class 'set'>,
            {'m': {'mary', 'martin'},
             't': {'tim', 'tom'}})

In [29]:
d = defaultdict(list)
d['t'].append('tom')
d['m'].append('mary')
d['t'].append('tim')
d['t'].append('tom')
d['m'].append('martin')
d

defaultdict(list, {'m': ['mary', 'martin'], 't': ['tom', 'tim', 'tom']})

In [30]:
names = ''' david betty susan mary darlene sandy davin
            shelly beatrice tom michael wallace'''.split()
names

['david',
 'betty',
 'susan',
 'mary',
 'darlene',
 'sandy',
 'davin',
 'shelly',
 'beatrice',
 'tom',
 'michael',
 'wallace']

In [39]:
d1 = defaultdict(list)
d2 = defaultdict(list)
d3 = defaultdict(list)

In [42]:
for name in names:
    f1, f2, f3 = name[0], name[-1], len(name)
    d1[f1].append(name)
    d2[f2].append(name)
    d3[f3].append(name)

In [43]:
pprint(d1, width = 50)
pprint(d2, width = 50)
pprint(d3, width = 50)

defaultdict(<class 'list'>,
            {'b': ['betty', 'beatrice'],
             'd': ['david', 'darlene', 'davin'],
             'm': ['mary', 'michael'],
             's': ['susan', 'sandy', 'shelly'],
             't': ['tom'],
             'w': ['wallace']})
defaultdict(<class 'list'>,
            {'d': ['david'],
             'e': ['darlene',
                   'beatrice',
                   'wallace'],
             'l': ['michael'],
             'm': ['tom'],
             'n': ['susan', 'davin'],
             'y': ['betty',
                   'mary',
                   'sandy',
                   'shelly']})
defaultdict(<class 'list'>,
            {3: ['tom'],
             4: ['mary'],
             5: ['david',
                 'betty',
                 'susan',
                 'sandy',
                 'davin'],
             6: ['shelly'],
             7: ['darlene', 'michael', 'wallace'],
             8: ['beatrice']})

In [41]:
pprint(d1, width = 50)

defaultdict(<class 'list'>, {})

In [44]:
pprint(sorted(names, key = len))

['tom',
 'mary',
 'david',
 'betty',
 'susan',
 'sandy',
 'davin',
 'shelly',
 'darlene',
 'michael',
 'wallace',
 'beatrice']

### zip

In [45]:
list(zip('abcdef', 'ghijk'))

[('a', 'g'), ('b', 'h'), ('c', 'i'), ('d', 'j'), ('e', 'k')]

In [46]:
from itertools import zip_longest
list(zip_longest('abcdef', 'ghijk'))

[('a', 'g'), ('b', 'h'), ('c', 'i'), ('d', 'j'), ('e', 'k'), ('f', None)]

In [47]:
list(zip_longest('abcdef', 'ghijk', fillvalue = 'x'))

[('a', 'g'), ('b', 'h'), ('c', 'i'), ('d', 'j'), ('e', 'k'), ('f', 'x')]

### zip*

In [48]:
m = [
    [10,20],
    [30,40],
    [50,60]
]

In [52]:
pprint(list(zip([10,20],[30,40],[50,60])), width = 15)

[(10, 30, 50),
 (20, 40, 60)]

In [53]:
pprint(list(zip(*m)), width=15)

[(10, 30, 50),
 (20, 40, 60)]

In [55]:
pprint(m, width=20)

[[10, 20],
 [30, 40],
 [50, 60]]

In [56]:
for row in m:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [57]:
for row in m:
    for col in row:
        print(col)

10
20
30
40
50
60

In [58]:
[x for row in m for x in row]

[10, 20, 30, 40, 50, 60]

In [60]:
it = iter('abcd')

In [61]:
list(it)

['a', 'b', 'c', 'd']